* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  overflow: hidden;
}
#container {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  flex-direction: row;
}

#left,
#right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* Adicionado para diferenciar visualmente */
}
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url("/home/jr/Imagens/My_Wallpaper/stGFYCmm.png") no-repeat center
    center;
  background-size: cover;
}
#registerForm {
  display: block;
  opacity: 1;
}
#loginForm {
  display: block;
}
/* Remover transições */
.show-register #registerForm {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
.show-register #loginForm {
  display: block;
}
.show-register .left {
  transform: translateX(0);
}
.show-register .right {
  transform: translateX(0);
}
button {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
    height: 50%;
  }
  .show-register .left,
  .show-register .right {
    transform: translateX(0);
  }
}
